[user]
	name = Eugene Samoylov
	#email = eugene.samylov@eltex.loc
[color]
	diff = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[merge]
	tool = vimdiff
[core]
	editor = vim
[diff]
	#external = git_diff_wrapper
[pager]
	diff =
